<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<link rel="stylesheet"
      href="../../static/editstyle.css"
      th:href="@{/editstyle.css}">

<title>EDIT</title>
</head>

<body>

<div class="container">

    <div class="title-box">
        <div class="bomb">💣</div>

        <h1 th:text="${title}">EDIT</h1>

        <div class="bomb">💣</div>
    </div>

    <div class="edit-box" th:object="${data}">

        <form action="#"
              method="get"
              th:action="@{/edit/__*{id}__/exe}">

            <p class="info">
                番号 :
                <span th:text="*{id}"></span>

                <input type="hidden"
                       name="id"
                       th:value="*{id}">
            </p>

            <p class="name-area">
                名前
                <br>

                <input type="text"
                       name="name"
                       th:field="*{name}"
                       th:value="*{name}">
            </p>

            <p class="info">
                スコア :
                <span th:text="*{score}"></span>

                <input type="hidden"
                       th:field="*{score}">
            </p>

            <input class="update-btn"
                   type="submit"
                   value="更新">

        </form>

    </div>

</div>

</body>
</html>